
    <h3>2013</h3>
    <p>02/01/13 — Hussies w/ Ladyfinger, The Seen @ Waiting Room Lounge </p>
    <p>05/31/13 — 06/16/13 — Contracted Guitarist for The Rose Theater </p>
    <p>07/31/13 — Guitarist for The Rite Returns @ Holland Performing Arts Center</p>
    <p>10/10/13 — Hussies w/ Manic Pixie Dream Girls, Saturn Moth @ Slowdown </p>
    <p>10/29/13 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center </p>
    <p>11/02/13 — Solo (Nick Drake tribute night) @ Barley Street Tavern </p>
    <p>11/03/13 — Solo Classical @ España Tapas Bar </p>
    <p>11/22/13 — Ensemble 768 (at NMEA Convention) @ University of Nebraska at Lincoln </p>
    <p>11/24/13 — Solo Classical @ España Tapas Bar </p>
    <p>12/11/13 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center </p>
    <p>12/12/13 — Ensemble 768 @ Strauss Performing Arts Center </p>
    <p>12/14/13 — Contracted Guitarist w/ River City Mixed Chorus @ Creighton University </p>
    <p>12/15/13 — Contracted Guitarist w/ River City Mixed Chorus @ Creighton University </p>
    <p>12/21/13 — Graduation with Bachelor’s of Guitar Performance @ University of Nebraska at Omaha </p>
    <p>12/31/13 — Hussies w/ Shit God, Phill Smith, Manic Pixie Dream Girls @ Hotela Barela</p>
