<div class="container">

    <h1 class="center">Media</h1>

    <h2 class="center">+ music</h2>

    <section class="music-embed row">
            <div class="col-4"></div>
            <div class="col-4"></div>
        <iframe class="col-4" style="border: 0; width: 250px; height: 392px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=1720225765/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
            seamless><a href="http://beneisenberger.bandcamp.com/album/three-islands">Three Islands by Ben
                Eisenberger</a></iframe>

        <iframe class="col-4" style="border: 0; width: 250px; height: 392px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=3402947417/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
            seamless><a href="http://hussiesband.bandcamp.com/album/fast">Fast by Hussies</a></iframe>
        <iframe class="col-4" style="border: 0; width: 250px; height: 392px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=3210570509/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
            seamless><a href="http://hussiesband.bandcamp.com/album/nowhere">Nowhere by Hussies</a></iframe>

        <iframe class="col-4" style="border: 0; width: 250px; height: 392px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=374132353/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
            seamless><a href="http://screamingplastic.bandcamp.com/album/screaming-plastic-2">Screaming Plastic by
                Screaming Plastic</a></iframe>
        <iframe class="col-4" style="border: 0; width: 250px; height: 392px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=880435993/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
            seamless><a href="http://screamingplastic.bandcamp.com/album/live-improvisations-2">Live Improvisations 2 by
                Screaming Plastic</a></iframe>

        <iframe class="col-4" style="border: 0; width: 250px; height: 392px;"
            src="https://bandcamp.com/EmbeddedPlayer/album=2552986554/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
            seamless><a href="http://fifinono.bandcamp.com/album/fifi-nono">FiFi NoNo by FiFi NoNo</a></iframe>
    </section>