<div class="container fade-in">
  <div class="code-container">
    <div *ngFor="let individual of individual" class="repeater">
      <div class="card-thing">
        <img [src]="individual.img" />
      </div>
      <div class="buttons">
        <h3 style="color: #72716e; text-align: center;">
          {{ individual.name }}
        </h3>
        <a class="btn" href="{{ individual.link }}"
          ><i class="fas fa-clone left"></i>View in Broswer</a
        >
        <a class="btn" href="{{ individual.github }}"
          ><i class="fas fa-code left"></i>View Code</a
        >
      </div>
    </div>
  </div>
</div>
