.margin {
    margin: 20px;
    width: calc(100% - 40px);
}

mat-card {
    margin: 30px;
    background-color: lightgrey;
}

a {
    color: navy;
}

.card-thing {
    padding: 20px 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
}

a {
    color: white;
}

.card-image {
    background-color: rgba(0,0,0,0.0);
}