<div class="container col-12">
    <div>
        <img class="main-img col-12" src="./assets/benmain.jpg">
    </div>

    <section>
        <div class="bio">
            <p>
                <strong>Omaha, Nebraska-based guitarist, songwriter, web developer /</strong> Currently mixing the follow-up to my debut solo release <a href="http://beneisenberger.bandcamp.com/album/three-islands">Three Islands</a>
                <br><br>
                <strong>Screaming Plastic's debut album /</strong> Funded by a <a href="https://www.newmusicusa.org/projects/screaming-plastic/">New Music
                    USA</a> grant
                <br><br>
                <strong>Stack /</strong> Angular 6+, HTML5, CSS, JavaScript and TypeScript,
                SQL, Ant Design/Bootstrap/Material Design, Google Firebase/Firestore, NodeJS and Express - but always learning
                <br><br>
                <strong>Currently employed with <a href="https://appsky.io">appsky</a> /</strong> and enjoying the ride this life is taking me on
            </p>
        </div>
    </section>
</div>