<div class="container col-12">
    <div>
        <img class="main-img col-12"
            src="./assets/benmain.jpg">
    </div>
    
        <section>
            <div class="bio">
                <p>Ben Eisenberger is an Omaha, Nebraska-based guitarist and songwriter, and a graduate
                    of the University of Nebraska at Omaha’s classical guitar program. His debut solo
                    release <a href="http://beneisenberger.bandcamp.com/album/three-islands">Three Islands</a>, a
                    collection of warm
                    and pensive acoustic songs, was released
                    on April 24th, 2018 on cassette and digitally. A nationwide solo tour followed in
                    September of 2018, and a midwest and southern tour in March 2019.
                    <br><br>
                    In 2015, Ben co-founded the experimental collective Screaming Plastic,
                    which has released two cassettes of live improvisations and whose debut
                    album was funded by a <a href="https://www.newmusicusa.org/projects/screaming-plastic/">New Music
                        USA</a> grant. He also plays guitar in the band Hussies,
                    who have been active in the Omaha music scene since 2012, and have a forthcoming
                    cassette to be released in early 2019.
                    <br><br>
                    In addition to original music, Ben also does contracted work for musicals, choirs,
                    and weddings, and also teaches private lessons. He is also currently attending Midland University's
                    Code Academy, an accellerated web developmemt course.
                </p>
            </div>
        </section>
</div>