.ref {
    display: flex;
    justify-content: space-between; // flex-start | flex-end | center | space-around;
    align-items: stretch;
    padding: 40px 50px;
}

.button {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.bio {
    margin: 50px 50px;  
    text-align: justify;
}

.main-img {
    width: 100%;
    margin-top: 15px;
}
