<div class="container fade-in">
  <div>
    <h1 class="title">Calendar</h1>
    <h2 class="subtitle">Upcoming</h2>
    <p>It's COVID, y'all</p>
    <h2 class="subtitle">Archived</h2>

    <!-- Collapsible content -->
    <div class="events-container">
      <a routerLink="/events/y2020"
        >'20<span class="sr-only">(current)</span></a
      >
      <a routerLink="/events/y2019">'19</a>
      <a routerLink="/events/y2018">'18</a>
      <a routerLink="/events/y2017">'17</a>
      <a routerLink="/events/y2016">'16</a>
      <a routerLink="/events/y2015">'15</a>
      <a routerLink="/events/y2014">'14</a>
      <a routerLink="/events/y2013">'13</a>
      <a routerLink="/events/y2012">'12</a>
      <a routerLink="/events/y2011">'11</a>
      <a routerLink="/events/y2010">'10</a>
    </div>
    <div class="fade-in">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
