<div class="container col-12">
    <h2 class="title center">Calendar</h2>
    <br>
    <h3><b>/// Upcoming ///</b></h3>

    <p>09/29/19 — Ben Eisenberger @ Lucy’s Pub for House Fest (5:30pm)</p>
    <p>10/03/19 — Hussies w/ Plague Vendor, No Parents @ Slowdown</p>
    <p>10/14/19 — Ben Eisenberger w/ Princess, Brent Penny, Voske @ The Sydney</p>

    <br><br>

    <h3 class="archived"><b>/// Archived ///</b></h3>

    <mdb-navbar SideClass="navbar navbar-expand-md navbar-dark" [containerInside]="false">
        <!-- Collapsible content -->
        <links>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2019">2019<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2018">2018</a>
                    </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2017">2017</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2016">2016</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2015">2015</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2014">2014</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2013">2013</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2012">2012</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2011">2011</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/events/y2010">2010</a>
                </li>
            </ul>

        </links>

    </mdb-navbar>

    <router-outlet></router-outlet>
    
</div>