<div class="container col-12">
    <h2>Ben Eisenberger - Victims of Circumstance (2020 / 2021)</h2>

    <section>
        <mat-advanced-audio-player 
            [playlist]="msaapPlaylist" 
            [displayTitle]="msaapDisplayTitle" 
            [autoPlay]="false" 
            muted="muted" 
            [displayPlaylist]="msaapDisplayPlayList" 
            [pageSizeOptions]="pageSizeOptions" 
            [displayVolumeControls]="msaapDisplayVolumeControls" 
            [expanded]="true">
        </mat-advanced-audio-player>
    </section>
</div>