.nav-link {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: forestgreen;
}

.nav-link:hover, .active {
    background-color: #33421C;
}

@media (lg) {
    .container {
        width: 700px;
    }
}

@media (sm) {
    .container {
        width: 100%;
    }
}