<mdb-navbar
  SideClass="navbar navbar-1 navbar-dark navbar-expand-md ie-nav fixed-top"
  [containerInside]="false"
>
  <links>
    <div class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/about">About</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/code">Code</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/media">Music</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/events">Events</a>
    </div>
    <div class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </div>
  </links>
</mdb-navbar>
