.nav-item {
  text-align: center;
  height: 40px;
  a {
    color: white !important;
    font-weight: 500;
  }
}

.nav-link {
  height: 60px !important;
  width: 153.8px;
}

.active a {
  color: black !important;
  background: white !important;
  height: 40px !important;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .container,
  nav {
    width: 769px;
    // margin: 0 auto;
  }
}
