<div class="container">
    <nav class="row navbar">
        <a class="nav-link col-2" routerLink="/blog" routerLinkActive="active">Blog</a>
        <a class="nav-link col-2" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-link col-2" routerLink="/code" routerLinkActive="active">Web Dev</a>
        <a class="nav-link col-2" routerLink="/media" routerLinkActive="active">Music</a>
        <a class="nav-link col-2" routerLink="/events" routerLinkActive="active">Events</a>
        <a class="nav-link col-2" routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
</div>