
    <h3>2017</h3>
    <p> 01/01/17 — Hussies w/ No Thanks, Dumb Vision, Once a Month @ Williamson Magnetic Recording Company (Madison, WI)
    </p>
    <p>01/02/17 — Hussies w/ No Thanks, Indulge, Citric Dummies @ Pork Ave. (Minneapolis, MN)</p>
    <p>02/07/17 — Screaming Plastic w/ Valerie Kuehne and the Wasps Nests, Big Slur, Bob Bucko Jr. @ Project Project</p>
    <p>02/03/17 – 02/27/17 — Contracted guitarist for Beehive @ P.A.R.T. Crossroads Theater</p>
    <p>03/09/17 — Screaming Plastic w/ Working Man @ O’Leaver’s</p>
    <p>03/11/17 — Hussies w/ Ridgelines, Twinsmith @ Blackstone Meatball</p>
    <p>03/13/17 — Hussies w/ No Parents, Crease @ West Wing</p>
    <p>03/20/17 — Hussies w/ Shana Falana, Lodgings @ Waiting Room Lounge</p>
    <p>03/21/17 — Hussies w/ Shana Falana @ Vega (Lincoln, NE)</p>
    <p>03/26/17 — Screaming Plastic w/ Evil Genius, Might Vitamins @ Project Project</p>
    <p>04/06/17 — Hussies w/ Idlefox, Township and Bed Rest @ Lucy’s Pub</p>
    <p>04/20/17 — Hussies w/ Le Brood @ Pageturners Lounge</p>
    <p>04/22/17 — Screaming Plastic @ Almost Music for Record Store Day 2017</p>
    <p>04/22/17 — Screaming Plastic w/ Chemicals @ Blackstone Meatball</p>
    <p>05/05/17 — FiFi NoNo w/ Oozer, Vampyre @ Brothers Lounge</p>
    <p>05/15/17 — FiFi NoNo w/ Digital Leather, Xetas @ Brothers Lounge</p>
    <p>05/29/17 — Ben Eisenberger and Friends w/ Lectrofy @ Pageturners Lounge</p>
    <p>06/10/17 — Screaming Plastic w/ Mighty Vitamins, Eris Kozelar, Nick Holden @ OutrSpaces</p>
    <p>06/13/17 — Hussies w/ Cat Tatt @ Brothers Lounge</p>
    <p>06/16/17 — Hussies w/ Le Butcharettes @ Vega</p>
    <p>06/17/17 — Contracted Guitarist for River City Mixed Chorus @ Holland Center</p>
    <p>06/17/17 — Screaming Plastic w/ Chemicals @ Blackstone Meatball</p>
    <p>06/19/17 — Ben Eisenberger @ Pageturners Lounge for Miwi’s Wide Open Mic Night</p>
    <p>07/07/17 — FiFi NoNo w/ Dave Nance Band, Oquoa @ The Sydney</p>
    <p>07/10/17 — Screaming Plastic @ The Sydney</p>
    <p>07/11/17 — Contracted Guitarist for All State Chorus</p>
    <p>07/23/17 — FiFi NoNo w/ 3TEETH, Plack Blague @ Waiting Room Lounge</p>
    <p>08/11/17 — FiFi NoNo @ West Wing</p>
    <p>09/01/17 — Screaming Plastic (without Ben) w/ Stacy Barelos, Hasco Duo @ Petshop (Part of Benson First Friday
        Femme Fest)</p>
    <p>09/02/17 — FiFi NoNo (without Ben) for NE Hardcore Showcase After Party</p>
    <p>09/20/17 — Screaming Plastic w/ Ralph White, L. Eugene Menthe @ Joyner’s House</p>
    <p>09/21/17 — Hussies w/ Crushed Out, Idlefox @ Brothers Lounge</p>
    <p>09/23/17 — FiFi NoNo w/ Naomi Punk, No Thanks @ O’Leaver’s</p>
    <p>09/27/17 — Hussies w/ Church Girls @ The Sydney</p>
    <p>09/28/17 — Screaming Plastic records @ ARC Studios</p>
    <p>09/29/17 — Screaming Plastic @ Lincoln Calling</p>
    <p>09/30/17 — FiFi NoNo @ Lincoln Calling</p>
    <p>10/07/17 — Hussies @ Blackstone Meatball</p>
    <p>10/20/17 — Screaming Plastic w/ Lung, Crybaby @ O’Leaver’s</p>
    <p>11/04/17 — Ben Eisenberger w/ Tom Bartolomei @ Blackstone Meatball</p>
    <p>11/05/17 — Hussies w/ Cult Play, Obvious Funk @ The Sydney</p>
    <p>11/07/17 — Hussies w/ Top Nachos, Magu @ OutrSpaces</p>
    <p>11/07/17 — FiFi NoNo w/ Nightshapes @ Brothers Lounge</p>
    <p>12/04/17 — Hussies Tape Release w/ Ojai @ Pageturners Lounge</p>
    <p>12/05/17 — Ben Eisenberger w/ Bryan McPherson, Mike Schlesinger @ The Sydney</p>
    <p>12/09/17 — Contracted Guitarist with River City Mixed Chorus @ Omaha Conservatory of Music</p>
    <p>12/10/17 — Contracted Guitarist with River City Mixed Chorus @ Omaha Conservatory of Music</p>
