<h3>2020</h3>
<p>
  12/02/19 - 12/08/19 - Contracted guitarist for Legally Blonde: The Musical at
  Papillion La Vista South High School
</p>
<p>12/01/20 - Hussies @O'leavers</p>
<p>
  01/31/20 - 02/16/20 - Contracted guitarist for Mamma Mia at Performing Arts
  Repertory Theater
</p>
<p>
  Contracted Guitarist for Penguin Problems @ The Rose Theater (pandemic, dates
  varried)
</p>
<p>
  11/16/20 - Ben Eisenberger w/ Oceanator, Sonny Falls, Calyx, Alex Joseph
  (Livestream for Plastic Miracles)
</p>
<p>
  11/27/20 - Ben Eisenberger Livestream for Around the Campfire Black Friday
</p>
<p>
  12/11/20 - Ben Eisenberger "Soloists" Release Livestream w/ Ryan Menchaca, Tom
  Bartolomei, B.B. Sledge
  <a href="https://www.youtube.com/watch?v=5y138zQTfzQ"
    >https://www.youtube.com/watch?v=5y138zQTfzQ</a
  >
</p>
