<h3>2012</h3>
    <p>01/27/12 — Cymbal Rush w/ Howard, Ally Rhodes, Field Club, Small Houses @ Side Door Lounge </p>
    <p>06/01/12 — 06/17/12 — Contracted Guitarist for The Rose Theater </p>
    <p>07/26/12 — Hussies w/ Twin Peaks, Orca Team @ 40th and Charles </p>
    <p>08/09/12 — Hussies @ Moon Cottage </p>
    <p>08/11/12 — 08/19/12 — Contracted Guitarist for Beehive @ Waiting Room Lounge </p>
    <p>08/16/12 — Hussies @ Side Door Lounge </p>
    <p>10/29/12 — Hussies w/ Opus Noir, Big Box @ West Wing </p>
    <p>12/07/12 — Hussies in Kansas City, MO </p>
    <p>12/15/12 — 12/30/12 — Contracted Guitarist for Beehive @ Waiting Room Lounge </p>
    <p>12/31/12 — Hussies w/ Solid Goldberg, Funk Trek @ Studio 906</p>
