<h3>2014</h3>
    <p>02/15/14 — Private Event</p>
    <p>02/25/14 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center</p>
    <p>06/06/14 — 06/22/14 — Contracted Guitarist for The Rose Theater</p>
    <p>06/26/14 — Solo (Nick Drake tribute night) @ Barley Street Tavern</p>
    <p>07/12/14 — Ensemble 768 @ Bancroft Street Market (part of Omaha Under the Radar 2014)</p>
    <p>10/28/14 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center</p>
    <p>12/05/14 — Ensemble 768 @ Strauss Performing Arts Center</p>
