
    <h3>2011</h3>
    <p>03/24/11 — Cymbal Rush w/ In Love @ Waiting Room Lounge </p>
    <p>05/21/11 — Cymbal Rush w/ MC Gringo, Big Elephant, Video Ranger @ Slowdown</p>
    <p>07/10/11 — Cymbal Rush w/ Dim Light, Saturn Moth @ Waiting Room Lounge </p>
    <p>07/20/11 — Cymbal Rush w/ Hellogoodbye, A Great Big Pile of Leaves, Catnaps, Fake Problems @ Waiting Room Lounge
    </p>
    <p>09/30/11 — Cymbal Rush w/ Millions of Boys, Fullbloods @ Barley Street Tavern </p>
    <p>10/08/11 — Cymbal Rush w/ Family Picnic, Dads @ Slowdown</p>
    <p>12/05/11 — Cymbal Rush w/ Matt Jones, Chris Bathgate @ Slowdown</p>
    <p>12/10/11 — Cymbal Rush w/ Millions of Boys, Everyday/Everynight, Jacob Duncan @ HOUSE</p>
    <p>12/20/11 — Cymbal Rush w/ Howard, Snake Island, All Young Girls are Machine Guns @ House of Loom</p>
