<h3>2019</h3>
<p>01/11/19 — Screaming Plastic debut album listening party @ Hi-Fi House</p>
<p>01/11/19 — Hussies w/ Oquoa @ The Sydney</p>
<p>02/04/19 — Hussies w/ No Thanks @ Brother’s Lounge</p>
<p>02/18/19 — Ben Eisenberger (Improvised) w/ Sutphin, BB Sledge, Pagan Athletes @ Lucy’s Pub</p>
<p>Ben Eisenberger / Tom Bartolomei Spring 2019 Tour</p>
<p>03/14/19 — Omaha, NE @ Pageturners Lounge</p>
<p>03/15/19 — Lincoln, NE @ Meadowlark Coffee</p>
<p>03/16/19 — Wichita, KS @ Donut Whole </p>
<p>03/18/19 — Denton, TX @ Killer’s Tacos</p>
<p>03/19/19 — Little Rock, AR @ Cosmic House</p>
<p>03/20/19 — Memphis, TN @ Hi-Tone</p>
<p>03/21/19 — Nashville, TN @ House Show</p>
<p>03/22/19 — Louisville, KY @ House Show</p>
<p>03/23/19 — St. Louis, MO @ Pop’s Blue Moon</p>
<p>03/24/19 — Kansas City, MO @ Ollie’s Local</p>
<p>03/25/19 — Ben Eisenberger w/ Bunny Boy @ Pageturners Lounge</p>
<p>03/26/19 — Hussies @ Brothers Lounge</p>
<p>04/12/19 — Baby Sledge (ft. Ben Eisenberger) @ O’Leaver’s</p>
<p>04/13/19 — Hussies w/ Briner, Domestica @ 1867 Bar (Lincoln, NE)</p>
<p>04/18/19 — Hussies w/ Tulip, Ace Jinx, Gabe Bierman @ Midtown Art Supply</p>
<p>04/22/19 – 05/05/19 — Contracted Guitarist for Tuck Everlasting @ Skutt Catholic High School</p>
<p>05/01/19 — Hussies w/ The Natural States @ Petshop</p>
<p>05/21/19 — Hussies w/ Droids Attack!, TenDead, Battling Giants @ Reverb Lounge</p>
<p>05/28/19 – 06/23/19 — Contracted Guitarist for Matilda @ The Rose Theater</p>
<p>05/31/19 — Ben Eisenberger @ Gifford Park Neighborhood Market</p>
<p>06/15/19 — Hussies w/ The Cult of Lip, Double Grave, Jacob James Wilton @ O’Leaver’s</p>
<p>06/21/19 — Ben Eisenberger w/ Summer Like the Season, And How, Magu @ O’Leaver’s</p>
<p>06/26/19 — Baby Sledge w/ Dendrons, Pagan Athletes, Garst @ Reverb Lounge</p>
<p>06/26/19 — Hussies w/ All Boy / All Girl, Mike Schlesinger @ The Sydney</p>
<p>07/13/19 — Hussies w/ Washer, The Natural States @ O’Leaver’s</p>
<p>07/19/19 — Ben Eisenberger w/ Muscle Cousins, Artichoke Hearts @ Midtown Art Supply</p>
<p>07/26/19 — Hussies (Tape Release Show) w/ Baby Sledge @ Brothers Lounge</p>
<p>07/31/19 — Ben Eisenberger w/ Those Far Out Arrows, Mouton @ The Sydney</p>
<p>08/02/19 — Hussies w/ No Thanks @ O'Leaver's</p>
<p>08/10/19 — Hussies for Petfest @ Petshop</p>
<p>08/09/19 - 08/18/19 - Contracted guitarist for Ring of Fire @ P.A.R.T.</p>
<p>08/21/19 - Ben Eisenberger w/ Kelsey Magnuson @ Pageturners Lounge</p>
<p>08/09/19 - 08/18/19 - Contracted guitarist for Ring of Fire @ P.A.R.T.</p>
<p>08/30/19 - Ben Eisenberger w/ Nat Budz, Tame Suns, more @ Petshop Gallery</p>
<p>09/03/19 — Hussies w/ Kneeling in Piss, Nathan Ma @ O’Leaver’s</p>
<p>09/07/19 — Ben Eisenberger w/ Pink Neighbor, Bach Mai, Domonique Morgan, All Young Girls are Machine Guns,
    Virginia Kathryn @ Mooncottage</p>
<p>09/13/19 — Ben Eisenberger w/ And How @ MaMAW’s House</p>
<p>09/14/19 — Hussies w/ In The Whale, Natural States @ O'Leaver's</p>
<p>09/29/19 — Ben Eisenberger @ Lucy’s Pub for House Fest (5:30pm)</p>
<p>10/03/19 — Hussies w/ Plague Vendor, No Parents @ Slowdown</p>
<p>10/14/19 — Ben Eisenberger w/ Princess, Brent Penny, Voske @ The Sydney</p>
