<mat-toolbar color="primary">
    <mat-toolbar-row>
        <i>in case you wanted to know</i>
        <span class="spacer"></span>
        <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
            <button mat-raised-button color="accent" routerLink="/blog/dashboard">Write a Post</button>
            <button mat-button (click)="auth.logout()">Log Out</button>
        </div>
        <ng-template #showLogin>
            <button mat-button (click)="auth.login()">Log In with Google</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>

<app-post-list></app-post-list>
