mat-toolbar {
    background-color: lightgrey;
}

.spacer {
    flex: 1 1 auto;
}

body {
    margin: 0;
}

span:focus {
    outline: none;
    border: 0;
}
span {
    cursor: pointer;
}

@media (max-width: 768px) {
    mat-toolbar {
        width: 100%;
    }
}

@media (min-width: 769px) {
    mat-toolbar {
        width: 769px;
        margin: 0 auto;
    }
}