<h3>2018</h3>
<p> 01/05/18 — Hussies w/ The Show Is The Rainbow, Laughing Falcon @ The Sydney</p>
<p>01/13/18 — Hussies w/ Karen Meat, Dubb Nubb, Detachable Limbs @ O’Leaver’s</p>
<p>01/26/18 — Screaming Plastic w/ No Thanks, Deathcow @ OutrSpaces</p>
<p>01/27/18 – 01/29/18 — Screaming Plastic mixing in New York, NY</p>
<p>02/02/18 — Hussies w/ Libations, Relax, It’s Science @ O’Leaver’s</p>
<p>02/03/18 — FiFi NoNo w/ Crease, Silversphere @ O’Leaver’s</p>
<p>02/10/18 — Hussies w/ DJ Skatedad, Drugs & Attics @ The Sydney</p>
<p>02/15/18 — Ben Eisenberger w/ Tom Bartolomei, Jacob Duncan @ Barley St. Tavern</p>
<p>02/16/18 — FiFi NoNo w/ Closeness, Universe Contest @ The Sydney</p>
<p>02/23/18 — FiFi NoNo w/ Vampyre, Leche @ Beerland, Texas (Austin, TX)</p>
<p>02/24/18 — FiFi NoNo w/ Pinko, Vampyre @ House Show (San Antonio, TX)</p>
<p>03/03/18 — Hussies w/ The Regulation @ Brothers Lounge</p>
<p>03/04/18 — FiFi NoNo w/ White Mystery, Those Far Out Arrows @ O’Leaver’s</p>
<p>o3/08/18 — FiFi NoNo w/ Bugg, Jacky Boy, Jocko @ Petshop</p>
<p>03/26/18 — Hussies w/ Ex-Girlfriends, Houma @ O’Leaver’s</p>
<p>03/30/18 — Screaming Plastic w/ Empty Bag of Ears, Little Ripple, @ O’Leaver’s</p>
<p>04/10/18 — FiFi NoNo w/ Pleasures @ Duffy’s Tavern (Lincoln, NE)</p>
<p>04/11/18 — Hussies w/ Pleasures @ The Sydney</p>
<p>04/21/18 — Private Event</p>
<p>04/22/18 – 05/06/18 — Contracted guitarist for Skutt High School</p>
<p>04/27/18 — Hussies w/ Kal Marks, Chalant @ Brothers Lounge</p>
<p>04/28/18 — Tom Bartolomei (Ben Eisenberger guest) w/ Lavender Country @ Brothers Lounge</p>
<p>04/29/18 — Ben Eisenberger w/ Annie Dee (“Three Islands” release show) @ Pageturners Lounge</p>
<p>05/22/18 — Hussies and FiFi NoNo w/ DJ Tyrone Storm @ Burke’s Pub</p>
<p>05/24/18 – 06/17/18 — Contracted guitarist for The Rose Theater</p>
<p>06/01/18 — Hussies @ The Sydney</p>
<p>06/06/18 — Ben Eisenberger w/ Noah Sterba, Dan McCarthy @ Pageturners Lounge</p>
<p>06/14/18 — FiFi NoNo w/ Sutphin, Celebration, Houma @ Lucy’s Pub</p>
<p>06/17/18 — Hussies w/ Crease @ O’Leaver’s</p>
<p>06/22/18 — Ben Eisenberger w/ Tom Bartolomei, Nick Baker, J. Jeffery Messerole @ Barley St. Tavern</p>
<p>06/24/18 – 07/01/18 — Contracted guitarist for Omaha South High School</p>
<p>06/24/18 — FiFi NoNo w/ Bambara @ O’Leaver’s</p>
<p>06/24/18 — Ben Eisenberger w/ Laura Burhenn (Mynabirds), Annie Dee, Ryan Menchaca @ Pageturners Lounge</p>
<p>06/29/18 — Hussies w/ Red Kate, Tiananmen Squares @ Brothers Lounge</p>
<p>07/06/18 — Ben Eisenberger w/ Chess Club, Death Cow, House Vacations @ The Void (Lincoln, NE)</p>
<p>07/08/18 — Hussies w/ Period Bomb!, Sam Martin @ The Sydney</p>
<p>07/12/18 — Screaming Plastic w/ Summer Like the Season, Mr. E and the Stringless Kite @ Lucy’s Pub</p>
<p>07/14/18 — FiFi NoNo w/ The Ghoulies, Cat Beret @ Brothers Lounge</p>
<p>07/21/18 — Hussies w/ JC & the Nuns, Dead on Dust @ Brothers Lounge</p>
<p>07/28/18 — Hussies @ Benson Days</p>
<p>08/10/18 — Hussies w/ No Thanks @ Duffy’s Tavern (Lincoln, NE)</p>
<p>08/11/18 — FiFi NoNo, Hussies, and Ben Eisenberger @ PeTFeSt</p>
<p>08/11/18 – 08/24/18 — Contracted guitarist for Fun Home @ Omaha Community Playhouse</p>
<p>08/25/18 — Ben Eisenberger w/ Dan McCarthy, Noah Sterba @ Almost Music</p>
<p>////// FALL 2018 USA TOUR ////// CITIES SUBJECT TO CHANGE //////</p>
<p>08/27/18 — Minneapolis, MN @ Kitty Cat Klub</p>
<p>08/29/18 — Detroit, MI @ Trumbullplex</p>
<p>08/30/18 — Cleveland, OH @ Happy Dog at The Euclid Tavern</p>
<p>08/31/18 — Pittsburgh, PA @ Stim City</p>
<p>09/02/18 — Rochester, NY @ Boulder Coffee</p>
<p>09/04/18 — Boston, MA @ Blockbuster Video</p>
<p>09/05/18 — New Bedford, MA @ Co-Creative Center</p>
<p>09/06/18 — New York, NY @ Sidewalk Cafe</p>
<p>09/08/18 — Philadelphia, PA @ Greenhaus</p>
<p>09/10/18 — Washington, DC @ Songbyrd</p>
<p>09/12/18 — Charlotte, NC @ Tommy’s Pub</p>
<p>09/13/18 — Athens, GA @ Flicker Bar</p>
<p>09/15/18 — New Orleans, LA @ Jammany Hall</p>
<p>09/17/18 — San Marcos, TX @ Valentino’s</p>
<p>09/19/18 — Austin, TX @ Cheer Up Charlie’s</p>
<p>09/20/18 — Denton, TX @ Backyard on Bell</p>
<p>09/21/18 — Little Rock, AR @ Optica Luminarium Festival</p>
<p>09/23/18 — Murfreesboro, TN @ Garage Bar</p>
<p>09/24/18 — Louisville, KY (open mic)</p>
<p>09/25/18 — Cinncinatti, OH @ The Listing Loon</p>
<p>10/02/18 — Screaming Plastic w/ A Deer A Horse, The Natural States @ The Sydney</p>
<p>10/17/18 — Ben Eisenberger w/ Edem Soul Music, Miwi La Lupa, Tyrone Storm for Kara Eastman voter regestration
    rally @ The Sydney</p>
<p>10/20/18 — Hussies w/ Summer Cannibals, The Natural States @ O’Leaver’s</p>
<p>11/02/18 — Hussies @ The Sydney</p>
<p>11/06/18 — Hussies w/ Shana Falana, BB Sledge @ Reverb Lounge</p>
<p>12/08/18 – 12/09/18 — Contracted Guitarist for River City Mixed Chorus @ Omaha Conservatory of Music</p>
<p>12/31/18 — Hussies w/ Uh Oh @ O’Leaver’s</p>