
    <h3>2015</h3>
    <p>01/10/15 — The New Philharmonic (featuring Michael Gordon’s ‘Van Gogh’ opera) @ KANEKO </p>
    <p>01/24/15 — Ensemble 768 @ Strauss Performing Arts Center </p>
    <p>02/16/15 — Hannah Mayer/Ben Eisenberger duo (open mic) @ Pageturners Lounge </p>
    <p>02/20/15 — Ensemble 768 @ Strauss Performing Arts Center </p>
    <p>02/21/15 — Commander Relativity @ Dr. Jack’s Drinkery </p>
    <p>04/13/15 — Every Goddess Wanted (open mic) @ Pageturners Lounge </p>
    <p>04/15/15 — Guitar on UNO Student Recital @ Strauss Performing Arts Center </p>
    <p>04/23/15 — Ensemble 768 @ Strauss Performing Arts Center </p>
    <p>05/08/15 — Guitar w/ Luke Polipnick @ Union for Contemporary Art </p>
    <p>05/23/15 — The New Philharmonic “A is for ___” @ KANEKO </p>
    <p>07/09/15 — Omaha Under the Radar — Ben Eisenberger and Hannah Mayer w/ Alejandro Acierto, Shanna Gutierrez,
        MIMIC, Bassoons Across Nebraska @ House of Loom </p>
    <p>07/10/15 — Omaha Under the Radar — Ensemble 768 w/ Matthew Oliphant, Stacey Barelos, April Faith-Slaker, Derrick
        Higgins @ Barley St. Tavern </p>
    <p>07/11/15 — Omaha Under the Radar — Ensemble 768 and The New Philharmonic @ KANEKO </p>
    <p>07/19/15 — Dominion w/ Can’t, Won’t @ Lucy’s Pub </p>
    <p>08/07/15 — Dominion and Every Goddess Wanted w/ Justin Ready and the Echo Prairie, Phill Smith @ Private Event
    </p>
    <p>08/20/15 — Ben Eisenberger/Hannah Mayer duo w/ Colloquy @ Bancroft St. Market </p>
    <p>09/30/15 — Every Goddess Wanted w/ Wet Nurse, The Ridgeways, The Morbs @ O’Leaver’s </p>
    <p>10/31/15 — Dominion and Every Goddess Wanted w/ Working Man @ Hotela Barela </p>
    <p>11/16/15 — Every Goddess Wanted w/ Iji @ O’Leaver’s </p>
    <p>11/22/15 — Ensemble 768 with Antonius Priyanto & Johannes Nugroho, UNO faculty and Chamber Choir @ Strauss
        Performing Arts Center </p>
    <p>11/24/15 — Misers w/ Nudie Suits, Amanda DeBoer Bartlett @ House of Loom </p>
    <p>12/05/15 — Private Event </p>
    <p>12/10/15 — Every Goddess Wanted w/ I’d Die for Lo-Fi, Little Ripple, Army of 2600 @ Barley St. Tavern </p>
    <p>12/23/15 — CounterSOUND: Misers w/ Shit God, grabASS, Army of 2600 @ Milk Run</p>
