body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/ben8.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #0e1720;
  margin: 0;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: white;
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .container div {
    width: 600px;
  }
}

.title {
  font-size: 60px !important;
  text-transform: uppercase;
  font-style: italic !important;
  line-height: 40px !important;
  margin: 40px 0 !important;
}

.mini-title {
  margin-right: 10px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 30px !important;
  text-transform: uppercase;
  font-style: italic !important;
  line-height: 20px !important;
  margin: 30px 0 !important;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fixed-top {
  background-color: black !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: 40px !important;
}

.navbar-nav {
  margin-right: 0 !important;
}

.navbar-collapse {
  background-color: black;
}

.center {
  text-align: center;
}

@media (min-width: 769px) {
  .fixed-top {
    padding-left: calc(50% - 307.6px) !important;
  }
}

@media (max-width: 768px) {
  .nav-item a {
    margin: 0;
    width: 100% !important;
  }
}

.mat-form-field-appearance-legacy {
  .mat-form-field-underline {
    background-color: #2b2a44;
  }
  .mat-form-field-label {
    color: #0e1720;
  }
}

.list-inline {
  margin-bottom: 0 !important;
}

.page-footer {
  padding-top: 10px !important;
}

@media (max-width: 768px) {
  .container,
  mdb-navbar {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .container,
  mdb-navbar {
    width: 769px;
  }
}
