.container {
    width: 80vw;
    background-color: #33421C;
    color: white;
}

body {
    color: white;
    background-color: #CFC293;
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
}

a, a:hover {
    color: palegreen;
    text-decoration: none;
}

@media (lg) {
    .container {
        width: 700px;
    }
}

@media (md) {
    .container {
        width: 100%;
    }
}