@import '~@angular/material/theming';
@include mat-core();

$ben-primary: mat-palette($mat-grey);
$ben-accent:  mat-palette($mat-green, A200, A100, A400);
$ben-warn:    mat-palette($mat-red);
$ben-theme: mat-light-theme($ben-primary, $ben-accent, $ben-warn);

@include angular-material-theme($ben-theme);
